@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Patrick+Hand&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Caveat', cursive;;
}

:root{
    --main-bg:#aea9a3;
    --main-color:#e8dcd0;
}

html{
    font-size: 70%;
}
.row{
    margin:0;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    color:aliceblue;
    background-color: var(--main-bg);
    padding:2rem 0;
}
.navbar a{
  color:beige;
}
.navbar-toggler{
    background-color: rgb(117, 111, 111);
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color:red;
}
@keyframes rot{
    0%{
         transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main_header_left{
    height:70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size:2rem;
}
.main_header_right h1{
    font-size: 4rem;
    margin:1rem 0 4rem 0;
}
.main_header_right{
    height:70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left .text_col{
    color:red;
}

.main_header_left button{
    border: none;
    padding :0.8rem 1.8rem;
    font-size:1.4rem ;
    border-radius:2rem;
    text-transform:uppercase;
    box-shadow: 0 8px 6px -6px black;
    outline :none;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

footer{
    width:100%;
    background-color: var(--main-bg);
}

footer p{
    margin: 0;
    text-align:center;
    color:red;
    line-height: 100%;
    font-size: 1.4rem;

}